body {}

header {
    background-color:#ffffff;
    height: 100px;
}

.logo {
    float: left;
    padding-top: 0.4rem;
}

.heading {
    color: #c18634;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 15px;
}

.nav {
    float: right;
}

.nav ul {
    color: black;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    padding-right: 12rem;
}

.wrapper {
    padding-top: 1.5rem;
    text-align: center
    
}
.heading{
    text-decoration: none;
}
.home-nav{
    text-decoration: none;
    
}
.signup-nav{
    text-decoration: none;
}
.sigin-nav{
    text-decoration: none;
}
.account-nav{
    text-decoration: none;
}
.basket-nav{
    text-decoration: none;
}
.search{
    border-radius: 29px;
    height: 58px;
    width: 411px;
    text-align: center; /*i dont know how to increase the font size of the placeholder*/
    
}