body {}

header {
    background-color: #ffffff;
    height: 100px;
}

.logo {
    float: left;
    padding-top: 0.4rem;
}

.heading {
    color: #F2B880;
    font-size: 50;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 15px;
}

.nav {
    float: right;
}

.nav ul {
    color: black;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    padding-right: 15rem;
}

.wrapper {
    padding-top: 1.5rem;
    text-align: center
    
}

.heading {
    text-decoration: none;
}

.home-nav {
    text-decoration: none;
    font-size: 25;
}

.signup-nav {
    text-decoration: none;
    font-size: 25;
}

.sigin-nav {
    text-decoration: none;
    font-size: 25;
}

.account-nav {
    text-decoration: none;
    font-size: 25;
}

.basket-nav {
    text-decoration: none;
    font-size: 25;
}

.search {
    border-radius: 29px;
    height: 20px;
    width: 180px;
    text-align: center;
    
    /*i dont know how to increase the font size of the placeholder*/
}

.body-one {
    background-color: bisque;
    width: 1920px;
    height: 398px;
}

.body-two {
    background-color: #C98686;
}

footer {
    background-color: #966B9D;
}
.cat{
    float: left;
    border-radius: 48px;
    
}
.fish{
    float: right;
    border-radius: 48px;
    
}
.dog{
    border-radius: 48px;
    

}