*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
    nav{
        background-color: #fff
        height: 218px;
        width: 100%;
        
      }
      label.logo{
        color: #F2B880;
        font-size: 50px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
        padding-left: 64px;
      }
      nav ul{
        float: right;
        margin-right: 20px;
      }
      nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 20px;
      }
      nav ul li a{
        color: #000;
        font-size: 24px;
      }
      a.active,a:hover{
        text-decoration: underline
      }
      a.active{
        text-decoration-color: #F2B880;
      }
      a:hover{
        background: #ebd7c2;
      }
.container{
    width: 1262px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.search{
    height: 58px;
    width: 411px;
    border-radius: 29px;
    stroke: black;
    text-align: center;
    font-size: 25px;
}
.categories{
    background-color: #FFF4EC;
    height: 450px;
}
.column{
    width: 33.33%;
    float: left;
    padding: 3px
    
}
.cat{
    
    border-radius: 48px;
    
}
.fish{
    
    border-radius: 48px;
    
}
.dog{
    border-radius: 48px;
}
.second{
    padding-left: 64px;
    font-size: 40px;
    font-weight: bold;
}


.column img{
    height: 280px;
}
.images{
    padding-top: 20px;
    padding-left: 125px;
    padding-right: 200px
    margin: 0 20px;
}
.more{
    
    background-color: #F2B880;
    font-size: 30px;
    width: 153px;
    height: 57px;
    border-radius: 28.5px;
    text-align: center;
    
}
.moree{
    float: right;
    padding-right: 50px;
    text-align: center;
    display: inline-block;
    padding-top: 20px;
}
.third{
    padding-left: 64px;
    font-size: 40px;
    font-weight: bold;
}

.main{
    background-color: #C98686;
    clear: both;
    height: 310px;
    
    
}
.writeup{
    
    font-size: 20px;
    padding-left: 64px;
    display: grid;
}
.hold{
    width: 50%;
    float: left;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px
    
    
    
}
.holdd{
    width: 80%;
    padding-right: 0px;
    float: right;
    padding-right: 50px;
    

}
.read{
    background-color: #F2B880;
    font-size: 20px;
    width: 120px;
    height: 40px;
    border-radius: 28.5px;

}
.readd{
    padding-top: 5px;
    padding-left: 550px;
    float: left;
    display: inline-block;
}
.footer{
    clear: both;
    background-color: #966B9D;
    height: 200px;
    padding-left: 64px;
}
.clm{
    width: 100%;
    float: left;
    
    padding: 3px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
width: 33.33%;
padding: auto;
}
.footer-col ul li a{
    text-decoration: none;
    color: black;
    list-style: none;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
.twi{
    text-decoration: none;
    color: black;
}
.ig{
    text-decoration: none;
    color: #000;
}
.fb{
    text-decoration: none;
    color: #000;
}

.social-links a:hover{
    background-color: #d39cdb;
}
.footer-col ul li a:hover{
    background-color: #d39cdb;
}